<h1>add pictures with captions</h1>
<div class="stockphoto">
  <img
    src="https://images.unsplash.com/photo-1573164574572-cb89e39749b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
    alt="GroupMeeting"
  />
  <img
    src="https://images.unsplash.com/photo-1581094284541-0a41371083aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"
    alt=""
  />
  <img
    src="https://images.unsplash.com/photo-1573164574472-797cdf4a583a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
    alt=""
  />
</div>
