<div>
  <h1>Internships and Scholarships</h1>
  <h2>Scholarships</h2>
  <h4>The Stephen Bufton Memorial Educational Fund</h4>
  <a href="https://sbmef.org/"> sbmef.org</a>
  <h4>Scholarships for Women</h4>
  <a
    href="https://www.scholarships.com/financial-aid/college-scholarships/scholarships-by-type/scholarships-for-women/"
  >
    scholarships.com
  </a>
  <h4>Little Africa</h4>
  <a href="http://www.littleafrica.com/resources/scholarships.html">
    littleafrica.com</a
  >
  <h4>Congressional Black Caucus Foundation</h4>
  <a href="http://www.cbcfinc.org/scholarships/"> cbcfinc.org</a>
  <h4>UNIGO</h4>
  <a href="https://www.unigo.com/scholarships"> unigo.com</a>
  <h4>StudentScholarships</h4>
</div>
