<title>About Us</title>

<div class="header">
  <a routerLink="/home" routerLinkActive="active"> Home </a>
  <a routerLink="/about" routerLinkActive="active"> About </a>
  <a routerLink="/inspir" routerLinkActive="active"> Inspiration </a>
  <a routerLink="/net" routerLinkActive="active"> Network </a>
  <a routerLink="/ruw" routerLinkActive="active"> Rise Up Women </a>
  <a routerLink="/startc" routerLinkActive="active"> startCoding() </a>
</div>

<div class="hero-image">

<img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v820-katie-54.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=9f7405a7d280dc702230d75551b030c6" alt="">
</div>

<router-outlet></router-outlet>
