.header {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  background: #150941;
  width:100%;
  background-repeat: no-repeat;
  background-size: auto;



}
.header img {
  background: url(https://cdn.discordapp.com/attachments/779707553722007612/780067776181174272/unknown.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 100%;
}
.header a {
  text-decoration: none;
  color: magenta;
  margin: 1rem;
}
.footer{
    background: #FF0A6C;
    padding: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer a {
  text-decoration: none;
  color: rgb(117, 92, 52);
  margin: 1rem;

}
