.header {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  background: #150941;
  width:100%;
  background-repeat: no-repeat;
  background-size: auto;
}

.header a {
  text-decoration: none;
  color: magenta;
  margin: 1rem;
}
main {
  flex: 1 0 auto;
}
.footer{
    background: #FF0A6C;
    padding: 5rem;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer a {
  text-decoration: none;
  color: rgb(117, 92, 52);
  margin: 1rem;

}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}