.header {
  text-align: center;
  padding: 1rem;
  background: rgb(128, 131, 112);
}
.header img {
  width: 16rem;
}
.header a {
  text-decoration: none;
  color: magenta;
  margin: 1rem;
}
