<h1>About Us</h1>
<h2>The Problem</h2>
<p>
  Today, there are many sources for women who want to pursue higher education.
  In fact, currently there are more women than men attending college and
  opportunities abound for women across many schools and majors. However, there
  are some fields where women are considered to be underrepresented - such as in
  STEM (Science, Technology, Engineering, Math) fields. 25% of women said
  confidence and visibility was the next biggest barrier to achieving success in
  the tech sector. Research shows that two-thirds of women in the UK suffer from
  imposter syndrome at work, struggling to have the confidence to speak up or be
  heard.
</p>
<h2>Why it matters?</h2>
<p>
  In this day and age that we live in, technology has become a part of every
  aspect in society. It’s a part of our daily routine, from the products we use
  to the way we communicate and also as a source of constant help. They make
  tasks easier and solve the many problems of mankind. Technology is being
  developed everyday and yet the gender gap in most companies has not changed.
  It is preventing women from participating in developing that important part of
  our daily life. Diversity and inclusion cannot be part of a one-time campaign.
  It should be essential in every industry, including the tech industry.
</p>
<h2>Our Mission!</h2>
<p>
  We are here to motivate and assist women who are pursuing their education and
  careers in Tech. As of right now, there are a number of initiatives that are
  working towards bridging this gender gap in technology. You can help too!

  Ifyou happen to be a woman who excels at and is interested in a scientific major
  or concentration, this could be a great opportunity for you as technical
  schools work to get more female students on campus and in their labs. Don’t
  lose that confidence! Many successful women have thrived in the tech industry
  despite the gender gap. It is important that women stand up for themselves and
  push their careers into tech in order to help get rid of that gender gap.
</p>