/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color:#150941;
  background-image: url(https://cdn.discordapp.com/attachments/779707553722007612/780067776181174272/unknown.png);
  /* background-size: cover; */
  color: white;
}

body {
  position: relative;
  min-height: 100%;
}